
<nav class="navbar navbar-expand-md navbar-dark bg-blue"> <!-- si acaso poner despues fixed-top-->
    <a class="navbar-brand" [routerLink]= "['']"> Felipe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarSupportedContent"> 
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive= "activo"><a class="nav-link" [routerLink]= "['pagina-principal']">Inicio</a></li>
            <li class="nav-item" routerLinkActive= "activo"><a class="nav-link" [routerLink]= "['']">Ideas</a></li>
            <li class="nav-item" routerLinkActive= "activo"><a class="nav-link" [routerLink]= "['inicio-sesion']">Iniciar sesión</a></li>
        </ul>
        
    </div>
    
</nav>



<router-outlet></router-outlet>

<footer class="bg-blue navbar-dark footer-propio">
    holi
</footer>




