
<div class=" banner">

<div class="marco-ventana ">
    <div class="borde-superior">
        <div class="boton boton3">x</div>
        <div class="boton boton2"></div>
        <div class="boton boton1">-</div>
    </div>
    <div class="terminal">
        <div class="texto-terminal">
            <div class="columna-terminal">
                - HTML <br>
                - CSS <br>
                - Angular <br>
                - Golang
            </div>
            <div class="columna-terminal">
                - Python <br>
                - PostgreSQL <br>
                - Docker <br>            
            </div>
            
            <p>pipe@Felipe: ~$ _ </p>
        </div>        
    </div>
</div>

<div class="bienvenida">
    <h1>Felipe Gómez</h1>    
    <h5>Developer</h5>
</div>

</div>
